:root {
  --haka-width: 100%;
  --haka--fullscreen-background-color: #B7B7B7FF;
  --haka-video-sidebar-distance: 10px;
  --haka-question-border-width: 2px;
  --haka-question-margin-bottom: 5px;
  --haka-question-header-bar-height: 20px;
  --haka-question-background-color: #ffffff;
  --haka-question-expanded-color: #ccffcc;
  --haka-question-collapsed-color: #ffccff;
  --haka-question-content-vertical-padding: 5px;
  --haka-question-content-horizontal-padding: 5px;
  --haka-question-header-bar-icon-top: 0;
  --haka-question-header-bar-icon-right: 5px;
  --haka-question-header-bar-icon-expand: '«';
  --haka-question-header-bar-icon-collapse: '»';
  --haka-question-header-bar-expanded-color: #404040;
  --haka-question-header-bar-collapsed-color: #404040;
}

/* Haka */

.Haka {
  display: block;
  width: var(--haka-width);
}

.Haka--fullscreen {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: var(--haka--fullscreen-background-color);
}

.Haka-content {
}

.Haka-video {
  width: 100%;
  margin-bottom: var(--haka-video-sidebar-distance);
}


/* HakaQuestionBar */

.HakaQuestionBar {
  width: 100%;
}


/* HakaQuestionLayer */

.HakaQuestionLayer {
  background-color: var(--haka-question-background-color);
  margin-bottom: var(--haka-question-margin-bottom);
}

.HakaQuestionLayer-headerBar {
  height: var(--haka-question-header-bar-height);
  position: relative;
  cursor: pointer;
}

.HakaQuestionLayer-headerBar--expanded {
  background-color: var(--haka-question-expanded-color);
}

.HakaQuestionLayer-headerBar--expanded::after {
  position: absolute;
  color: var(--haka-question-header-bar-expanded-color);
  top: var(--haka-question-header-bar-icon-top);
  right: var(--haka-question-header-bar-icon-right);
  content: var(--haka-question-header-bar-icon-collapse);
}

.HakaQuestionLayer-headerBar--collapsed {
  background-color: var(--haka-question-collapsed-color);
}

.HakaQuestionLayer-headerBar--collapsed::after {
  position: absolute;
  color: var(--haka-question-header-bar-collapsed-color);
  top: var(--haka-question-header-bar-icon-top);
  right: var(--haka-question-header-bar-icon-right);
  content: var(--haka-question-header-bar-icon-expand);
}

.HakaQuestionLayer-content {
  padding: var(--haka-question-content-vertical-padding) var(--haka-question-content-horizontal-padding)
}

.HakaQuestionLayer-content--expanded {
  border: var(--haka-question-border-width) solid var(--haka-question-expanded-color);
  display: block;
}

.HakaQuestionLayer-content--collapsed {
  border: var(--haka-question-border-width) solid var(--haka-question-collapsed-color);
  display: none;
}
