

/* Haka */

.Haka {
  display: flex;
  width: 800px;
}

.Haka-video {
  flex: none;
  margin-right: 10px;
}


/* HakaSidebar */

.HakaSidebar {
  flex: 1 0 0%;
}


/* HakaQuestionLayer */

.HakaQuestionLayer {
  position: relative;
}

.HakaQuestionLayer-closeButton {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: white;
  background-color: maroon;
  padding: 4px;
}

.HakaQuestionLayer-content {
}

.HakaQuestionLayer-content--expanded {
  display: block;
}

.HakaQuestionLayer-content--collapsed {
  display: none;
}
